html {
  font-family: Merriweather, serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
*Typefaces:* `Merriweather` (regular, italic)
- *Text sizes:* `1.5rem`, `1.8rem`
- *Line-heights:* `1.5`
- *Margins:* `1rem`, `1.5rem`
*Paddings:* `1rem`, `1.5rem`
- *Gaps:* `.75rem`
*/

body {
  margin: 0;
  display: block;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "main";
}

img {
  width: 40%;
}

header {
  font-family: Merriweather, serif;
  padding: 0;
  align-self: center;
  font-style: italic;

  grid-area: header;
}

h1 {
  font-style: italic;
  font-size: 1.8rem;
  padding: 1rem;
}

h2 {
  font-style: italic;
  font-size: 1rem;
  color: #fff;
  background-image: url(../images/maerten-van-heemskerck-panorama-with-the-abduction-of-helen-amidst-the-wonders-of-the-ancient-world-walters-37656.jpg);
}

figcaption {
  font-size: 1.8rem;
  font-style: italic;

  display: grid;
  gap: .75rem;
}

header figure p {
  font-size: 1.5rem;
}

main {
  display: grid;
}

figure {
  display: grid;
  grid-template-columns: 3fr;
}

dl dt {
  font-size: 1.5rem;
  font-style: italic;
}

dl dd {
  font-size: 1.5rem;
  font-style: normal;
}

@media screen and (min-width: 60em) {
  body {
    max-width: 90em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 40em) {

  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main main";
  }
}
