html {
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
*Typefaces:* `Merriweather` (regular, italic)
- *Text sizes:* `1.5rem`, `1.8rem`
- *Line-heights:* `1.5`
- *Margins:* `1rem`, `1.5rem`
- *Paddings:* `1rem`, `1.5rem`
- *Gaps:* `.75rem`
*/

img {
  width: 100%
}

h1 {
  font-style: italic;
  font-size: 1.8rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.8rem;
  font-style: italic;
}

figure p {
  font-size: 1.5rem;
}
